/* Bloco */
.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1%;
}

/* Elementos dentro do bloco produtos */
.produtos__item {
    background-color: #f9f9f9; /* Cor de fundo clara */
    border-radius: 8px;        /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 16px;             /* Espaçamento interno */
    text-align: center;        /* Centraliza o conteúdo */
    transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.produtos__item:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho ao passar o mouse */
}

.produtos__item-imagem {
    width: 100%;
    border-radius: 50%; /* Imagem redonda */
    margin-bottom: 16px; /* Espaço abaixo da imagem */
}

.produtos__item-nome {
    font-size: 1.2em;
    margin: 8px 0;
    font-weight: bold; /* Nome em negrito */
    color: #333; /* Cor do texto */
}

.produtos__item-descricao {
    color: gray;
    font-size: 0.9em; /* Tamanho da fonte menor para a descrição */
}

/* Modificador */
.produtos__item--destaque {
    border: 2px solid gold;
    padding: 24px;
    background-color: #ffff42;
}

